<div class="box">
  <% if current_user == pin.user %>
    <%= link_to (image_tag pin.image(:medium)), pin %>
    <p class="description">
      <%= link_to pin.title, pin, class: 'title'%>
    </p>
    <div class="btn-group">
      <%= link_to  edit_pin_path(pin),  class: 'btn' do %>
      <i class="icon-edit"></i>
      <% end %>
      <%= link_to pin, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } do  %>
      <i class="icon-trash"></i>
      <% end %>
    </div>

  <% else %>
   <%= image_tag pin.image(:medium) %>
   <p class="description">
      <%= link_to pin.title, pin, class: 'title' %>
   </p>   
  <% end %>
</div>
