<tr>
    <% if current_user == pin.user %>
    <td><%= image_tag pin.image(:medium) %></td>
    <td><%=  link_to pin.title, pin%></td>
    <td>
        <div class="btn-group">
        <%= link_to  edit_pin_path(pin),  class: 'btn' do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to pin, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } do  %>
        <i class="icon-trash"></i>
        <% end %>
        </div>
    </td>
    <% else %>
      <td><%=  link_to pin.title, pin%></td>
      <td></td>
    <% end %>
</tr>