<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image %>
				<h5><%= @pin.title %></h5>
				<p>
			  	<%= @pin.description %>
				</p>
				<% if current_user == @pin.user %>
					<div class="btn-group">
						<%= link_to edit_pin_path(@pin), class: 'btn' do %>
							<i class="icon-edit"></i>
						<% end %>
					</div>
					<% if @pin.user.name? %>
					<div class="pull-right">
						<strong>
							Posted By <%= @pin.user.name %>
						</strong>
					</div>
					<% else %>
					<div class="pull-right">
						<p>Anonimous</p>
					</div>
					<% end %>	
					<% else %>
					<% if @pin.user.name? %>
					<div class="pull-right">
						<strong>
							Posted By <%= @pin.user.name %>
						</strong>
					</div>
					<% else %>
					<div class="pull-right">
						<p>Anonimous</p>
					</div>
				<% end %>	
			<% end %>
			<%= link_to pins_path, class: 'btn' do%>
						<i class="icon-circle-arrow-left"></i>
					<% end %>			
		</div>
	</div>
</div>


